{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">CompScrape</h1>
{% if events %}
<h4 align="center">comp list</h4>
<ul class="list-group list-group-flush" id="competitions">
  {% for comp in events %}
  <li class="list-group-item">
    <a 
        href="{{ url_for('views.showAthletes', link=comp.link) }}" 
        class="list-group-item list-group-item-action">
        {{ comp.name }}
      </a>
  </li>
  {% endfor %}
  {% else %}
  <li class="list-group-item">
    <p> there is no competitions today</p>
  </li>
  {% endif %}
</ul>
{% if athletes %}
<h4 align="center">Athlete list</h4>
<ul class="list-group list-group-flush" id="athlete">
  {% for athlete in athletes %}
  <li class="list-group-item">
    <p>athlete.name</p>
  </li>
  {% else %}
   <li class="list-group-item">
    <p> no athletes found </p>
  </li>
  {% endfor %}
  {% endif %}
</ul>
  

{% endblock %}